<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>QA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/answer.js') }}"></script>
  </head>
  <body>

    <div class="flash-messages">
      {% for msg in get_flashed_messages() %}
        <div class="flash-message"><h1>{{ msg }}</h1></div>
      {% endfor %}
    </div>

    {% block content %}
    {% endblock %}
    
  </body>
</html>
